<div class="post-spot-page">
  <%= render 'shared/header' %>

  <%= form_with model: @spot, class: "post-spot-main", local: true do |f| %>
  
  <div class="post-form-wrap">
    <div class="post-form-group">
      <h1 class="post-form-header">スポット情報を編集</h1>
    </div>

    <%= render 'devise/shared/error_messages', model: f.object %>
    
    <%# スポット画像 %>
    <div class="img-mark-text">
      画像
    </div>

    <div class="post-form-group">
        <div class="post-img">
          <%= f.file_field :image, id:"spot-image" %>
        </div>
    </div>
    <%# スポット画像/ %>

    <%# タイトル %>
    <div class="post-form-group">
      <div class="post-form-text">
        <%= f.label :"タイトル", class: "post-text" %>
      </div>
      <%= f.text_field :title, class: "post-input-default" %>
    </div>
    <%# タイトル/ %>

    <%# スポットの説明 %>
    <div class="post-form-group">
      <div class="post-form-text">
        <%= f.label :"スポット説明", class: "post-text" %>
      </div>
      <%= f.text_area :description, class: "post-description-default", placeholder: "スポットの説明（必須 1000文字まで）", rows:"7" ,maxlength:"1000" %>
    </div>
    <%# スポットの説明/ %>

    <div class="post-form-group">
      <%= f.submit "投稿", class: "post-lightblue-btn" %>
    </div>
  
  </div>
  <% end %>

</div>