<div class="all-spots-page">

  <%= render 'shared/header' %>
  
  <%# スポット一覧 %>
  <div class="all-spots">
    <h2 class="spot-lists-title">投稿一覧</h2>
      <ul class="spot-lists">
        <% @spots.each do |spot| %>
        <li class="spot-list">

          <%# スポット画像 %>
          <%= link_to spot_path(spot.id) do %>
            <div class="spot-img-content ">
              <%= image_tag spot.image, class: "spot-img" %>
            </div>
          <% end %>
          <%# スポット画像/ %>
        
          <div class="spot-info" >
            <div class="spot-main-info">
              <%# スポットタイトル %>
              <%= link_to spot_path(spot.id) do %>
                <div class="spot-title">
                  <%= spot.title %>
                </div>
              <% end %>
              <%# スポットタイトル /%>

              <%# 投稿者 %>
              <%= link_to "#" do %>
                <div class="spot-poster">
                  <%= spot.user.name %>
                </div>
              <% end %>
              <%# 投稿者/ %>
            </div>

            <%# Unknowns %>
            <div class="spot-unknowns">
              <%= "Unknowns" %> <%= "4.5" %>
            </div>
            <%# Unknowns/ %>
          </div>
        
        </li>
        <% end %>
      </ul>
  </div>
  <%# スポット一覧/ %>

  <%# 投稿ボタン %>
  <div class='new-spot-btn'>
  <span class='new-spot-btn-text'>投稿する</span>
    <a href="/spots/new">
      <%= image_tag "/images/new-spot-icon.jpeg", size: '60x50' ,class: "new-spot-btn-icon" %>
    </a>
  </div>
  <%# 投稿ボタン/ %>
</div>

