<div class="spot-show-page">

  <%= render 'shared/header' %>

  <%# スポット詳細 %>
  <div class="spot-show">

    <%# スポットタイトル %>
    <div class="spot-show-title">
      <%= @spot.title %>
    </div>
    <%# スポットタイトル %>

    <%# スポット画像 %>
    <div class="spot-show-img">
      <%= image_tag @spot.image, class: "spot-show-img" %>

        <%# スポット画像右上のプルダウン %>
        <% if user_signed_in? && current_user.id == @spot.user_id %>
          <div class="more">
            <span><%= image_tag "/images/arrow_top.png", class: "more-list-icon" %></span>
            <ul class="more-list">
              <li class="spot-edit-btn">
                <%= link_to '編集', edit_spot_path(@spot.id) %>
              </li>
              <li class="spot-delete-btn">
                <%= link_to '削除', spot_path(@spot.id), method: :delete %>
              </li>
            </ul>
          </div>
        <% end %>
        <%# スポット画像右上のプルダウン/ %>

    </div>
    <%# スポット画像/ %>

    <%# 投稿者 %>
      <div class="spot-show-poster">
        <%= link_to "#", class: "spot-show-poster-text" do %>
          <span>By.</span><%= @spot.user.name %>
        <% end %>
      </div>
    <%# 投稿者/ %>

    <%# スポット説明 %>
      <div class="spot-show-description">
        <%= @spot.description %>
      </div>
    <%# スポット説明/ %>

    <%# Unknowns %>
      <div class="spot-show-unknowns">
        <%= "Unknowns" %> <%= "4.5" %>
      </div>
    <%# Unknowns/ %>

  </div>
  <%# スポット詳細/ %>

  <%# コメント投稿欄 %>
    <div class="comment-post-wrap">

      <%# 他のユーザーの投稿の場合 %>
      <% if user_signed_in? && @spot.user_id != current_user.id %>
        <%= form_with(model: [@spot, @comment], local: true, class: "post-comment-main") do |f| %>

        <%= render 'devise/shared/error_messages', model: f.object %>

          <div class="text-form-group">
            <%= f.text_area :text, placeholder: "コメントする", class: "text-input-default" %>
          </div>

          <div class="unknowns-form-group">
            <%= f.text_field :unknown, class: "unknowns-input-default" %>
            <div class="unknowns-description-text">
              Unknowns = 穴場度を1~5点で評価してみましょう
            </div>
          </div>

          <div class="comment-btn-group">
            <%= f.submit "コメント投稿", class: "comment-lightblue-btn" %>
          </div>

        <% end %>
      <%# 他のユーザーの投稿の場合/ %>

      <%# 自分の投稿の場合 %>
      <% elsif  user_signed_in? && @spot.user_id == current_user.id %>
        <%= form_with(model: [@spot, @comment], class: "post-comment-main", local: true) do |f| %>
          <div class="text-form-group">
            <%= f.text_area :text, placeholder: "コメントする", class: "text-input-default" %>
          </div>

          <div class="comment-btn-group">
            <%= f.submit "コメント投稿", class: "comment-lightblue-btn" %>
          </div>

        <% end %>
      <%# 自分の投稿の場合/ %>

      <% end %>

    </div>
  <%# コメント投稿欄/ %>

  <%# コメント一覧 %>
    <div class="comments-wrap">
      <h3 class="comments-title">＜コメント一覧＞</h3>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment-main-info">
            <%= comment.text %>
              By.<%= link_to comment.user.name, "#", class: "comment-user" %>
          </div>

          <div class="comment-unknown">
            Unknowns <%= comment.unknown %>
          </div>
        <% end %>
      <% end %>
    </div>
  <%# コメント一覧/ %>

</div>