<div class="spot-show-page">

  <%= render 'shared/header' %>

  <%# スポット詳細 %>
  <div class="spot-show">

    <%# スポットタイトル %>
    <div class="spot-show-title">
      <%= @spot.title %>
    </div>
    <%# スポットタイトル %>

    <%# スポット画像 %>
    <div class="spot-show-img">
      <%= image_tag @spot.image, class: "spot-show-img" %>

        <%# スポット画像右上のプルダウン %>
        <% if user_signed_in? && current_user.id == @spot.user_id %>
          <div class="more">
            <span><%= image_tag "/images/arrow_top.png", class: "more-list-icon" %></span>
            <ul class="more-list">
              <li class="spot-edit-btn">
                <%= link_to '編集', edit_spot_path(@spot.id) %>
              </li>
              <li class="spot-delete-btn">
                <%= link_to '削除', "#" %>
              </li>
            </ul>
          </div>
        <% end %>
        <%# スポット画像右上のプルダウン/ %>

    </div>
    <%# スポット画像/ %>

    <%# 投稿者 %>
      <div class="spot-show-poster">
        <%= link_to "#", class: "spot-show-poster-text" do %>
          <span>By.</span><%= @spot.user.name %>
        <% end %>
      </div>
    <%# 投稿者/ %>

    <%# スポット説明 %>
      <div class="spot-show-description">
        <%= @spot.description %>
      </div>
    <%# スポット説明/ %>

    <%# Unknowns %>
      <div class="spot-show-unknowns">
        <%= "Unknowns" %> <%= "4.5" %>
      </div>
    <%# Unknowns/ %>

  </div>
  <%# スポット詳細/ %>

  <%# コメント投稿欄 %>
    <div class="comment-post-wrap">
      <div class="comment-form">

      </div>
    </div>
  <%# コメント投稿欄/ %>

</div>