<div class="session-page">
  <%= render 'shared/header', class: "template" %>


  <%= form_with model: @user, url: user_session_path, class: 'session-main', local: true do |f| %>
  
  <div class="session-form-wrap">
    <div class="session-form-group">
      <h1 class="session-form-header">Log in</h1>
    </div>

    <%#= render "devise/shared/error_messages", resource: resource %>
    <%#= render 'devise/shared/error_messages', model: f.object %>
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <div class="session-form-group">
      <div class="session-form-text">
        <%= f.label :"メールアドレス" %><br />
      </div>
    <%= f.email_field :email, class: "input-default", autofocus: true, autocomplete: "email" %>
    </div>

  <div class="session-form-group">
    <div class="session-form-text">
      <%= f.label :"パスワード" %><br />
    </div>
    <%= f.password_field :password, class: "input-default", autocomplete: "current-password" %>
  </div>

  <div class="session-btn">
    <%= f.submit "Log in", class: "session-lightblue-btn" %>
  </div>

  <div class="signup-btn">
      <%= link_to "Sign up", new_user_registration_path, class: "signup-transparence-btn" %>
    </div>
<% end %>

<%#= render "devise/shared/links" %>

</div>
