<div class="session-page">
  <%= render 'shared/header' %>

  <%= form_with model: @user, url: user_session_path, class: 'session-main', local: true do |f| %>
  
  <div class="session-form-wrap">
    <div class="session-form-group">
      <h1 class="session-form-header">ログイン</h1>
    </div>

    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <div class="session-form-group">
      <div class="session-form-text">
        <%= f.label :"メールアドレス" %><br />
      </div>
    <%= f.email_field :email, class: "input-default", id: 'user_メールアドレス', autofocus: true, autocomplete: "email" %>
    </div>

  <div class="session-form-group">
    <div class="session-form-text">
      <%= f.label :"パスワード" %><br />
    </div>
    <%= f.password_field :password, class: "input-default", id: 'user_パスワード', autocomplete: "current-password" %>
  </div>

  <div class="session-btn">
    <%= f.submit "ログイン", class: "session-lightblue-btn" %>
  </div>

  <div class="signup-btn">
      <%= link_to "新規登録", new_user_registration_path, class: "signup-transparence-btn" %>
    </div>
  <% end %>

</div>
